/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* Layout */

.container {  
    width: 100%;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header       header      header      header      header"
      "contenido    contenido   contenido   contenido   contenido"
      "footer       footer      footer      footer      footer";
  }
  


/* Header */

.container .header { 
    grid-area: header; 
    margin-bottom: 100px;
}



/* Contenido */

.container .contenido { 
    grid-area: contenido;
}

.container .contenido .contenido_producto { 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.container .contenido .contenido_producto .card_producto {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
}

.container .contenido .contenido_producto .card_producto img {
    width: 100%;
    padding: 10px;
}

.container .contenido .contenido_producto .card_producto .Informacion_producto {
    padding: 10px;
}

.container .contenido .contenido_producto .card_producto .boton_comprar {
    padding: 10px;
}



/* SECCION DE CONTACTO */

.container .contenido .titulos {
    text-align: center;
}

.container .contenido .contacto {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}


.container .contenido .contacto .direccion {
    padding: 20px;
}
.container .contenido .contacto .formulario-contacto {
    width: 300px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.container .contenido .contacto .formulario-contacto input {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px; 
    outline: none;
}

.container .contenido .contacto .formulario-contacto textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    max-height: 250px;
    min-height: 150px;
    border-radius: 5px;
}

.container .contenido .contacto .formulario-contacto select {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
}



/* Footer*/

.container .footer { 
    grid-area: footer; 

    border-top: 1px solid #ffffff;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    align-items: baseline;
    margin-top:20px; 
}

.container .footer .redes-sociales li { 
    list-style: none;
}
.container .footer .redes-sociales li a { 
    text-decoration: none;
    color: #000000;
}
.container .footer .redes-sociales li a:hover { 
    text-decoration: underline;
}
.container .footer .nosotros li { 
    list-style: none;
    color: #000000;
}
.container .footer .ubicacion li { 
    list-style: none;
    color: #000000;
}



/* medias Querys para pantalla de 767px*/

@media screen and (max-width: 767px) {

}

/* medias Querys para pantalla de 576px */

@media screen and (max-width: 576px) {

}