* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {  
    width: 100%;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header       header      header      header      header"
      "contenido    contenido   contenido   contenido   contenido"
      "footer       footer      footer      footer      footer";
  }
  


.container .header { 
    grid-area: header; 
    margin-bottom: 100px;
}



.container .contenido { 
    grid-area: contenido;
}

.container .contenido .contenido_producto { 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.container .contenido .contenido_producto .card_producto {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
}

.container .contenido .contenido_producto .card_producto img {
    width: 100%;
    padding: 10px;
}

.container .contenido .contenido_producto .card_producto .Informacion_producto {
    padding: 10px;
}

.container .contenido .contenido_producto .card_producto .boton_comprar {
    padding: 10px;
}





/* estilos para el footer*/

.container .footer { 
    grid-area: footer; 

    border-top: 1px solid #ffffff;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    align-items: baseline;
    margin-top:20px; 
}

.container .footer .redes-sociales li { 
    list-style: none;
}
.container .footer .redes-sociales li a { 
    text-decoration: none;
    color: #000000;
}
.container .footer .redes-sociales li a:hover { 
    text-decoration: underline;
}
.container .footer .nosotros li { 
    list-style: none;
    color: #000000;
}
.container .footer .ubicacion li { 
    list-style: none;
    color: #000000;
}
