/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3eeee;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* Layout */

.container {  
    width: 100%;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header       header      header      header      header"
      "contenido    contenido   contenido   contenido   contenido"
      "footer       footer      footer      footer      footer";
  }
  


/* Header */

.container .header {
    grid-area: header;
    margin-bottom: 50px; 
    background-image: linear-gradient(to right, white 60%, #141212);
    border-bottom:1px solid #198754;
}
.container .header .navbar-brand img{
    width: 30px;
}
.container .header .navbar-toggler {
    color: #ffffff;
}
.container .header a {
    color: #000000;
}
.container .header .collapse a:hover {
    color: #ffffff;
}



/* Titulos */

.container .contenido .titulos {
    text-align: center;
    padding-bottom: 10px;
    animation-name: efectoTitulos;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes efectoTitulos {
    0%      {color: #000000;}
    50%     {color: #198754;}
    100%    {color: #7c4390;}
}



/* Contenido index*/

.container .contenido { 
    grid-area: contenido;
}
.container .contenido .contenido_producto { 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
}
.container .contenido .contenido_producto .card_producto {
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px rgb(20, 18, 18, 0.6);
}
.container .contenido .contenido_producto .card_producto .imagen_producto hr {
    margin: 0px;
}
.container .contenido .contenido_producto .card_producto img {
    width: 100%;
    padding: 10px;
}
.container .contenido .contenido_producto .card_producto .Informacion_producto {
    padding: 10px;
}
.container .contenido .contenido_producto .card_producto .boton_comprar {
    width: 100%;
    padding: 10px;
}



/* seccion contenido ver mas */

.container .contenido .contenido_ver_mas { 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.container .contenido .contenido_ver_mas img {
    width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(20, 18, 18, 0.6);
}
.container .contenido .contenido_ver_mas .detalle_producto {
    text-align: left;
}

/* Seccion de contacto */

.container .contenido .contacto {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}
.container .contenido .contacto .direccion {
    padding: 20px;
}
.container .contenido .contacto .formulario-contacto {
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid #cccccc;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(20, 18, 18, 0.6);
}
.container .contenido .contacto .formulario-contacto input {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #cccccc;
    outline: none;
}
.container .contenido .contacto .formulario-contacto textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    max-height: 250px;
    min-height: 150px;
    border: 1px solid #cccccc;
    outline: none;
}
.container .contenido .contacto .formulario-contacto select {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #cccccc;
    outline: none;
}
.container .contenido .contacto .formulario-contacto .mensaje-error {
    display: none;
}
.container .contenido .contacto .formulario-contacto span {
    color: #ff0000;
    font-size: 12px;
}


/* Footer*/

.container .footer { 
    grid-area: footer; 

    border-top: 1px solid #198754;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    align-items: baseline;
    margin-top:20px; 
}
.container .footer .redes-sociales li { 
    list-style: none;
}
.container .footer .redes-sociales li a { 
    text-decoration: none;
    color: #000000;
}
.container .footer .redes-sociales li a:hover { 
    text-decoration: underline;
}
.container .footer .nosotros li { 
    list-style: none;
    color: #000000;
}
.container .footer .ubicacion li { 
    list-style: none;
    color: #000000;
}



/* Estilos del carrito */
.container-carrito{
    padding: 20px;
    width: 100%;
    margin: auto;
}

.container-carrito .header-carrito{
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #141212;
}

.container-carrito .contenido-carrito .carrito-vacio {
    text-align: center;
    padding-top: 30px;
}
.container-carrito .contenido-carrito .row {
    margin-bottom: 10px;
    text-align: center;
}
.container-carrito .contenido-carrito .imagen-carrito  {
    text-align: center;
}
.container-carrito .contenido-carrito .imagen-carrito img {
    width: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(20, 18, 18, 0.6);
}
.container-carrito .contenido-carrito .eliminar-carrito a {
    margin: 10px;
}
.container-carrito .footer-carrito {
    padding: 10px;
}
.disabled {
    display: none;
}

/* medias Querys para pantalla de 767px*/

@media screen and (max-width: 767px) {
    .container .contenido .contenido_ver_mas img {
        width: 100%;
    }
}

/* medias Querys para pantalla de 576px */

@media screen and (max-width: 576px) {
    .container-carrito .contenido-carrito .row {
        flex-direction: column;
        align-items: center;
    }
    .container-carrito .contenido-carrito .imagen-carrito img {
        margin-bottom: 30px;
        width: 200px;

    }
}